<!-- header -->
<header id="header" class="clearfix">
  <!-- navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- navbar-header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">
          <img class="img-responsive" src="assets/img/dlogo.png" 
              style="width: 104px; margin-top: -26px;" alt="Logo">
        </a>
      </div>
      <!-- /navbar-header -->

      <div class="navbar-left">
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a id="nitem1" class="nitems" routerLink="/">Home</a>
            </li>
            <li>
              <a id="nitem5" class="nitems" style="cursor: pointer;" routerLink="/rd-data">RD Data</a>
            </li>
            <li>
              <a id="nitem5" class="nitems" style="cursor: pointer;" routerLink="/rd-list">RD List</a>
            </li>
            
          </ul>
        </div>
      </div>
      <!-- nav-right -->
    </div>
    <!-- container -->
  </nav>
  <!-- navbar -->
</header>
<!-- header -->